/* Ripple animation */
@keyframes ripple-expand {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;
        opacity: 0;
    }
}